<div>



<table class="spaced">

<tr>
  <td>
    <img src="/resources/images/emacs.png"/>
  </td>

  <td>
    I used to use <a href="http://www.gnu.org/software/emacs/">Emacs</a> for a long time,
    but switched to Vim completely.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/neovim.png"/>
  </td>

  <td>
    <a href="https://neovim.io/">Neovim</a> is great.
  </td>
</tr>
<tr>
  <td>
    <img src="/resources/images/sublime.png"/>
  </td>

  <td>
    Used to use the <a href="http://www.sublimetext.com/">Sublime text editor</a>.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/scala_logo_bigger.png"/>
  </td>

  <td>
    I like to program in <a href="http://www.scala-lang.org/">Scala</a>.
    Try it out.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/scala-badge.png"/>
  </td>

  <td>
    I have a <a href="http://stackoverflow.com/users/453594/axel22">gold Scala badge</a> at StackOverflow.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/android-64.png"/>
  </td>

  <td>
    I hack code for my Android phone in free time.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/3ds.png"/>
  </td>

  <td>
    I like to model in 3ds MAX from time to time as a hobby.
  </td>
</tr>

<tr>
  <td>
    <a href="http://osrc.dfm.io/axel22"><img src="/resources/images/github_axel22.png" style="border: 1px solid #cdcdcd"/></a>
  </td>
  
  <td>
    My Open Source Report Card on GitHub.
  </td>
</tr>



</table>

</div>
