<div>


<table class="spaced">
<tr>
  <td>
    <img src="/resources/images/emacs.png"></img>
  </td>

  <td>
    I used to use <a href="http://www.gnu.org/software/emacs/">Emacs</a> for a long time.
    I still find it good for editing through command-line.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/sublime.png"></img>
  </td>

  <td>
    I'm now using the <a href="http://www.sublimetext.com/2">Sublime text editor</a>.
    This editor really increased my productivity, and its future looks promising.
    I hope its maintained and developed for a long time to come.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/scala_logo_bigger.png"></img>
  </td>

  <td>
    I like to program in <a href="http://www.scala-lang.org/">Scala</a>.
    Scala is a very nice language and its popularity is constantly growing.
    If you like Java, chances are that you will fall in love with Scala.
    So many things are so much simpler, easier, faster with it.
    Try it out.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/android-64.png"></img>
  </td>

  <td>
    I hack code for my Android phone in free time.
  </td>
</tr>

<tr>
  <td>
    <img src="/resources/images/3ds.png"></img>
  </td>

  <td>
    I like to model in 3ds MAX from time to time as a hobby.
  </td>
</tr>

</table>

</div>