

@font-face {
  font-family: Iceland;
  src: url('../fonts/Iceland-Regular.ttf');
}

@font-face {
  font-family: Titillium;
  src: url('/resources/fonts/TitilliumWeb-Light.ttf');
}

@font-face {
  font-family: Orbitron;
  src: url('../fonts/Orbitron-Regular.ttf');
}

@font-face {
  font-family: Exo;
  src: url('../fonts/Exo-Regular.ttf');
}

@font-face {
  font-family: PressStart;
  src: url('../fonts/PressStart2P-Regular.ttf');
}

@font-face {
  font-family: Cabin;
  src: url('../fonts/Cabin-Regular.ttf');
}

@font-face {
  font-family: LiberationSans;
  src: url('../fonts/LiberationSans-Regular.ttf');
}

@font-face {
  font-family: Inconsolata;
  src: url('../fonts/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: DejaVuSansMono;
  src: url('../fonts/DejaVuSansMono.ttf');
}

@font-face {
  font-family: BankGothic;
  src: url('../fonts/bankgthd.ttf');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: LiberationSans;
  font-size: 14px;
  color: #101010;
}

h1 {
  font-family: Titillium;
  color: #808080;
  text-shadow: 1px 1px #d0d0d0;
  font-size: 36px;
  border-bottom: 1px solid #cecece;
}

h2 {
  color: #505050;
  padding-top: 10px;
  font-size: 24px;
}

h3 {
  color: #303030;
  padding-top: 6px;
  font-size: 15px;
}

blockquote {
  padding: 6px;
  border: 1px solid #c0c0c0;
  background: #f8f8f8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

a:link {
  color: #005aa6;
  text-decoration: none;
}

a:visited {
  color: #005aa6;
  text-decoration: none;
}

a:active {
  color: #008aff;
  text-decoration: none;
}

a:hover {
  color: #008aff;
  text-decoration: none;
}

#wrap {
  background-image: url('/resources/images/content3.png');
  background-repeat: repeat;
  min-height: 100%;
}

#top {
  background-repeat: repeat-x;
  height: 40px;

  background-image: linear-gradient(bottom, rgb(5, 5, 5) 16%, rgb(30, 30, 30) 55%, rgb(50, 50, 50) 95%);
  background-image: -o-linear-gradient(bottom, rgb(5, 5, 5) 16%, rgb(30, 30, 30) 55%, rgb(50, 50, 50) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(5, 5, 5) 16%, rgb(30, 30, 30) 55%, rgb(50, 50, 50) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(5, 5, 5) 16%, rgb(30, 30, 30) 55%, rgb(50, 50, 50) 95%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.95, rgb(50, 50, 50)),
    color-stop(0.50, rgb(35, 35, 35)),
    color-stop(0.16, rgb(5, 5, 5))
  );
}

.horizmenu {
  height: 32px;
  padding: 2px;
  margin: 2px;
  float: right;
  text-shadow: 1px 1px #000000;
}

ul.horizmenu li {
  padding-right: 7px;
  display: inline;
}

ul.horizmenu li a:link {
  text-decoration: none;
  color: #c0c0c0;
}

ul.horizmenu li a:visited {
  text-decoration: none;
  color: #c0c0c0;
}

ul.horizmenu li a:active {
  text-decoration: none;
  color: white;
}

ul.horizmenu li a:hover {
  text-decoration: none;
  color: white;
}

ul.bullets {
  list-style-image: url('../images/bullet-cog.png');
}

.equation {
  text-align: center;
}

div.imagenoframe {
  margin: 30px;
  text-align: center;
}

div.imageframe {
  text-align: center;
}

div.imageframe img {
  border: 1px solid #441a00;
}

img.imageframe {
  border: 1px solid #bbbbbb;
}

.lightdivider {
  background: #505050;
  height: 1px;
}

.verylightdivider {
  background: #cecece;
  height: 1px;
}

.lightbluedivider {
  background: #405570;
  height: 1px;
}

.darkdivider {
  background: #212121;
  height: 1px;
}

.hidivider {
  margin-top: 14px;
  margin-bottom: 7px;
}

.topshadow {
  background-image: url('../images/topshadow3.png');
  background-repeat: repeat-x;
  height: 8px;
}

#header {
  background-image: url('../images/header.png');
  background-repeat: repeat-x;
  height: 18px;
}

.titlebar {
  font-family: DejaVuSansMono;
  font-size: 16px;
  color: #bbccdd;
  text-shadow: 1px 1px #000000;
}

#content {
  padding: 10px;
  padding-bottom: 64px;
  overflow: auto;
}

div.remark {
  background: #541010;
  padding: 10px;
  padding-top: 0px;
  margin: 10px;
  border: 1px solid #341010;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  background-image: linear-gradient(bottom, rgb(110,30,30) 32%, rgb(79,30,30) 66%, rgb(51,30,30) 95%);
  background-image: -o-linear-gradient(bottom, rgb(110,30,30) 32%, rgb(79,30,30) 66%, rgb(51,30,30) 95%);
  background-image: -moz-linear-gradient(bottom, rgb(110,30,30) 32%, rgb(79,30,30) 66%, rgb(51,30,30) 95%);
  background-image: -ms-linear-gradient(bottom, rgb(110,30,30) 32%, rgb(79,30,30) 66%, rgb(51,30,30) 95%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.32, rgb(110, 30, 30)),
    color-stop(0.66, rgb(79, 30, 30)),
    color-stop(0.95, rgb(51, 30, 30))
  );
}

div.remark p {
  color: #d0d0d0;
}

div.remark p code {
  background: #541010;
  border: 1px solid #341010;
}

p.remarktitle {
  color: #d0d0cf;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px #000000;
}

#footer {
  background-image: url('../images/footer4.png');
  background-repeat: repeat-x;
  height: 42px;
  margin-top: -42px;
  position: relative;
  clear: both;
}

#footercontent {
  margin-top: 6px;
}

h2.footer {
  font-family: Helvetica;
  margin-top: 4px;
  margin-bottom: 2px;
}

hr.footer {
  background-color: #6a4040;
  height: 1px;
  border: none;
  margin-top: 6px;
  margin-bottom: 6px;
}

div.footer a:link {
  text-decoration: none;
  color: #c0c0ca;
}

div.footer a:visited {
  text-decoration: none;
  color: #c0c0ca;
}

div.footer a:active {
  text-decoration: none;
  color: #c0c0ca;
}

div.footer a:hover {
  text-decoration: underline;
  color: #c0c0ca;
}

img.footer {
  vertical-align: bottom;
}

.footer {
  color: #c0c0ca;
  font-size: 12px;
}

.quote {
  text-align: right;
}

.bigquote {
  padding: 6px;
  border: 1px solid #c0c0c0;
  background: #f8f8f8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 20px;
}

.bigheader {
  background-image: url('../images/header4.png');
  background-repeat: repeat-x;
  height: 212px;
}

.titlefooter {
  font-family: Titillium;
  font-size: 38px;
  color: #9a5050;
}

.titlemain {
  font-family: Titillium;
  font-size: 96px;
  color: #cfcab0;
  text-shadow: 2px 2px #440000;
  -webkit-text-stroke: 1px #665533;
}

.titleslogan {
  font-family: Titillium;
  font-size: 24px;
  color: #cfcab0;
  text-shadow: 1px 1px #000000;
}

table.spaced td {
  padding: 8px;
  padding-top: 12px;
}

span.entryinfo {
  color: #808080;
  font-size: 11;
}

h1.entrytitle {
  -webkit-margin-before: 0.0em;
  -webkit-margin-after: 0.0em;
}

ul.entries {
  list-style-type: none;
}

ul.entries li {
  background: #ececec;
  margin: 5px;
  padding: 5px;
  border: 1px solid #bbbbbb;
}

ul.entries a:link li, ul.entries a:visited li {
  color: #4c4c5c;
}

ul.entries a:hover li, ul.entries a:active li {
  color: #008aff;
}

ul.entries li span.entrytitle {
  font-size: 24px;
  text-shadow: 1px 1px #aabbbb;  
}

ul.entries li:hover {
  background: #fafafa;
}

ul.entries img.fixedheight {
  height: 64px;
}

ul.entries img {
  vertical-align: middle;
  border: 1px solid #bbbbbb;
  padding: 2px;

  filter: saturate(30%);
  
  -webkit-filter: saturate(30%);
  -moz-filter: saturate(30%);
  -o-filter: saturate(30%);
  -ms-filter: saturate(30%);
}

ul.entries li:hover img {
  filter: saturate(100%);
  
  -webkit-filter: saturate(100%);
  -moz-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);
}

.imageinline {
  float: left;
  margin: 10px;
  padding: 2px;
  border: 1px solid #bbbbbb;
}

a:link img.hoverimage, a:visited img.hoverimage {
  filter: saturate(30%);
  
  -webkit-filter: saturate(30%);
  -moz-filter: saturate(30%);
  -o-filter: saturate(30%);
  -ms-filter: saturate(30%);  
}

a:hover img.hoverimage, a:active img.hoverimage {
  filter: saturate(100%);
  
  -webkit-filter: saturate(100%);
  -moz-filter: saturate(100%);
  -o-filter: saturate(100%);
  -ms-filter: saturate(100%);  
}






