---
layout: base
---

<div class="topshadow"></div>

<div id="content">
  <div id="main" class="container_16">

    <div class="grid_16">
      <br/>
    </div>

    <div class="grid_12">

      <a href="/">
        <div class="grid_3 alpha group picpro">
          <span class="maincategory">Professional Info</span>
        </div>
      </a>
      <a href="/#projects">
        <div class="grid_3 group picprojects">
          <div class="grid_3 alpha">
            <span class="maincategory">Projects</span>
          </div>
          <div class="grid_5 omega">
          </div>
        </div>
      </a>

      <a href="/home/personal/">
        <div class="grid_3 group picpersonal">
          <span class="maincategory">Personal Info</span>
        </div>
      </a>
      <a href="/home/blog/">
        <div class="grid_3 omega group picblog">
          <span class="maincategory">Blog</span>
        </div>
      </a>
    </div>

    <div class="grid_4">
    </div>

    <div class="grid_16">
      <br/>
    </div>

    <div class="grid_12">
      {{ content }}
    </div>

    <div class="grid_4">
    </div>

  </div>
</div>












