---
layout: base
---

<div class="topshadow"></div>

<div id="content">
  <div id="main" class="container_16">

    <div class="grid_16">
      <br/>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="grid_16">

      <div class="grid_2 alpha">
        <br/>
      </div>
      <a href="/home/professional/">
        <div class="grid_6 group picpro">
          <span class="maincategory">Professional Info</span>
        </div>
      </a>
      <a href="/home/professional/#projects">
        <div class="grid_6 group picprojects">
          <div class="grid_3 alpha">
            <span class="maincategory">Projects</span>
          </div>
          <div class="grid_5 omega">
          </div>
        </div>
      </a>
      <div class="grid_2 omega"></div>

    </div>

    <div class="grid_16">

      <div class="grid_2 alpha">
        <br/>
      </div>
      <a href="/home/personal/">
        <div class="grid_6 group picpersonal">
          <span class="maincategory">Personal Info</span>
        </div>
      </a>
      <a href="/home/blog/">
        <div class="grid_6 group picblog">
          <span class="maincategory">Blog</span>
        </div>
      </a>
      <div class="grid_2 omega"></div>

    </div>

  </div>
</div>












