---
layout: base
---

<div class="topshadow"></div>

<div id="content">
  <div id="main" class="container_16">

    <div class="grid_16">
      <br/>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="grid_16">

      <a href="/home/professional/">
        <div class="grid_8 alpha group picpro">
          <span class="maincategory">Professional Info</span>
        </div>
      </a>
      <a href="/home/professional/#projects">
        <div class="grid_8 omega group picprojects">
          <div class="grid_3 alpha">
            <span class="maincategory">Projects</span>
          </div>
          <div class="grid_5 omega">
          </div>
        </div>
      </a>

    </div>

    <div class="grid_16">

      <a href="/home/personal/">
        <div class="grid_8 alpha group picpersonal">
          <span class="maincategory">Personal Info</span>
        </div>
      </a>
      <a href="/home/blog/">
        <div class="grid_8 omega group picblog">
          <span class="maincategory">Blog</span>
        </div>
      </a>

    </div>

  </div>
</div>












